* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #000;
}

/* SECTION - 1 ------------------------------- */

.part1 {
  height: 100vh;
  overflow: hidden;
}

/* Images */
.pyramidImage {
  width: 100%;
  height: 100%;
  filter: saturate(150%) brightness(200%);
  transition: opacity 5s ease;
}

.gateImage {
  width: 100%;
  height: 165%;
  position: absolute;
  top: -40%;
  left: -0%;
  z-index: -1;
  transition: transform 10s ease-in-out, opacity 2s ease;
}

.waterfallImage {
  position: absolute;
  top: 54%;
  left: 42%;
  width: 16%;
  height: 30%;
  z-index: -2;
  transition: transform 5s ease;
}

/* Videos */

.birdsFlyDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.birdsFly {
  opacity: 0.1;
  transition: opacity 5s ease;
}

.thunderVideo {
  opacity: 0.3;
}

/* SECTION - 2 ------------------------------- */

.part2 {
  height: 100vh;
  /* display: none; */
  transition: opacity 10s ease, visibility 10s ease;
}

/* IMAGES-------- */
.egyptImage {
  width: 100%;
  height: 100%;
  transition: filter 5s ease;

  /* display: none; */
}

.universeImage {
  position: absolute;
  top: 15%;
  left: 0;
  filter: brightness(120%);
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: filter 3s ease;
}

.TheMummyDiv {
  border: 1px solid #03ff25;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;

  z-index: -1 !important;
  /* transform: translate(0px, 300px); */
  transition: all 5s ease-in-out;
  display: none;
}

.mummyBackground {
  /* border: 1px solid blue; */
  position: absolute;
  width: 6.9%;
  top: 52%;
  left: 46%;
  height: 28%;
 
  z-index: -1;
  background: #000;

  display: flex;
  align-items: center;
}

.king {
  width: 100%;
  height: 85%;
  margin-top: 5%;
  /* margin: 20% 0%; */

}

.TheMummy {
  /* border: 1px solid blue; */
  position: absolute;
  left: -50%;
  top: 0%;
  width: 200%;
  height: 102%;
  transition: transform 5s ease-in-out;
  transform: translate(-50%, 0px);
}

/* VIDEOS-------- */
.EgyptVideoDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 90px;
  background-image: url("./Assets/Animation/Pharaoh.gif");
  background-image: url("https://i.pinimg.com/736x/3a/09/97/3a0997bd5b78816bcaef79444a316463.jpg");
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease, visibility 3s ease;
}

.EgyptVideo {
  border: 1px solid rgba(240, 248, 255, 0.308);
  height: 100%;
  padding: 10px;
}

.effectDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rainVideo {
  visibility: hidden;
  opacity: 0;
  transition: opacity 3s ease, visibility 3s ease;
}

/* Button Box------------------------------------- */
.buttonBox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
  background-color: #000;
  color: aliceblue;
  border-radius: 10px;
  z-index: 2;
  user-select: none;
}

.buttonBox div {
  display: flex;
  align-items: center;
  justify-content: start;
}

.buttonBox div button {
  border: none;
  margin: 0px 10px;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: color 0.3s ease;
}

.buttonBox div button:hover {
  text-shadow: 0px 0px 3px aliceblue;
  color: green;
}

.buttonBox div p {
  margin: 0;
  font-family: monospace;
}

.buttonBox2 {
  display: none;
}

.RestartDiv {
  /* border: 1px solid #f10e0e; */
  display: none !important;
}

/* CLASSES NEW --------------------- */
.hiddenClass {
  opacity: 0;
  visibility: hidden;
}

.visibleClass {
  opacity: 1;
  visibility: visible;
}

.blockDisplay {
  display: block;
}

.ButtonClass {
  color: rgb(10, 184, 10) !important;
}

.slideGate {
  transform: translate(-250px, 0px);
}

.scaleUp {
  transform: scale(8);
}

.opacityClass {
  opacity: 0;
}

.opcityVisible {
  opacity: 1;
}

.brightness1 {
  filter: brightness(0%);
}

.mummyDivTranform {
  /* transform: translate(0px, 0px); */
   top: 0%;
}

.mummyTransform {
  transform: translate(0%, 0px);
}

.rainOpacity {
  visibility: visible;
  opacity: 0.3;
}

.cloudOpacity {
  visibility: visible;
  opacity: 0.5;
}

.displayClass {
  display: flex !important;
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
  .EgyptVideoDiv {
    padding: 30px;
  }

  .EgyptVideo {
    width: 100%;
  }
}
